services:
  # DB
  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_password
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - webnet

  # WordPress
  wordpress:
    build: .
    environment:
      DB_HOST: mariadb
      DB_NAME: wordpress
      DB_USER: wp_user
      DB_PASSWORD: wp_password
      WP_HOME: http://localhost:8080/
      WP_SITEURL: http://localhost:8080/wp
    volumes:
      - ./:/srv/www/localhost
    restart: always
    depends_on:
      - mariadb
    networks:
      - webnet

  # Nginx
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/srv/www/localhost
    ports:
      - 8080:80
    depends_on:
      - mariadb
      - wordpress
    networks:
      - webnet

volumes:
  db_data:

networks:
  webnet:
